<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <%= form_with(model: client, class: "my-form") do |form| %>
        <% if client.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>
            <ul>
              <% client.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :age, class: "form-label" %>
          <%= form.text_field :age, class: "form-control" %>
        </div>

        <%= form.submit "Agregar", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>