<p style="color: green"><%= notice %></p>

<%= render @client %>

<div>
  <%= link_to "Show", client_path(@client), class: "btn-show" %>
  <%= link_to "Edit", edit_client_path(@client), class: "btn-edit" %>
  <%= link_to "Destroy", client_path(@client), method: :delete, data: { confirm: "Are you sure?" }, class: "btn-destroy" %>
</div>

