<!DOCTYPE html>
<html>
  <head>
    <title>BlockBuster</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="container">
      <style>
     body {
          background: linear-gradient(to bottom, #333333, #666666);
          color: #ffffff;
        }

        table {
          color: #ffffff;
        }

        table th,
        table td {
          border-color: #ffffff;
          color: #ffffff;
          bottom: color yellow;
        }

        table th .btn-yellow {
          background-color: #ffff00;
          border-color: #ffff00;
          color: #ffffff;
        }
    

  </style>
  </div>
      <%= yield %>
    </div>

  </body>
</html>
